@import '~bootstrap/scss/bootstrap.scss';

.navbar {
  height: 75px;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.4);
  background: white;
}

.content-wrapper {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
}

.container {
  .folders {
    overflow: auto;
  }

  .tasks {
    overflow: auto;
  }

  .list-group-item {
    .trash svg {
      cursor: pointer;
      margin-right: 5px;
    }
    .move svg {
      cursor: move;
    }
    .title {
      cursor: pointer;
      width: 100%;
    }
  }

  .more-info {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    margin-bottom: 0;
    position: absolute;
    right: 0.9rem;
    top: 0.5rem;
    bottom: 0;
    left: 0.9rem;
  }

  .more-info.active {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  .card-text-more {
    min-height: 150px;
  }

  .app-content-body {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0;
    height: 100%;
    position: static;
    overflow: hidden;
  }
}